/* .App {
  text-align: center;
}
 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}
body{
  background: #007bff;
}
.price-card{
  border: 1px solid black;
  border-radius: 20px;
  width: 400px;
  background-color: whitesmoke;

}
.card-con{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
  gap: 3rem;
}
h5{
  margin: 3vh auto;
  font-size: x-large;
  text-align: center;
  opacity: .5;
}
h6{
  margin: 3vh auto;
  text-align: center;
  /* font-size: xx-large; */
}
.rate{
  font-size: 45px;
}

.sub{
  font-size: small;
}
p{
  padding-left: 30px;
}
.font{
  font-size: large;
}
.xmark{
  opacity: .5;
}
.btn{
  display: block;
  width: 75%;
  padding: 18px;
  background: #007bff;
  border: none;
  border-radius: 20px;
  color: whitesmoke;
  margin: 3vh auto;
  font-size: large;
}


.price-card:hover{
  margin-top: -.25rem;
  margin-bottom: .25rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}
.btn:hover{
  opacity: .7;
}